.wrapper{
	border:1px solid black;
	width: 400px;
    background-color: rgb(214, 232, 225);
    padding-top: 30px;
}

.wrapper > span{
	margin-left: 30%;
}
.item{
	padding: 15px;
    background-color: white;
    margin: 5px 0;
	position: relative;
}

.item > span{
	position: absolute;
    right: 15px;
    cursor: pointer;
    padding: 3px;

}

.footer {
	    margin: 13px 7px;
}
.footer > input {
    padding: 7px 0px;
    width: 72%;
}

.footer > button {
    padding: 7px 0px;
    width: 23%;
    margin-left: 10px;
}

.error {
    color: red;
    text-align: center;
    margin-top: 10px;
    border: 1px dashed black;
    padding: 5px 0;
}