<!DOCTYPE html>
<html>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<head>
		<title>This is my Project</title>

		<link rel="stylesheet" type="text/css" href="css/style.css">

		<script type="text/javascript" src='libraries/angular.js'></script>
		<script type="text/javascript" src='js/angular_module_basics.js'></script>
		<script type="text/javascript" src='js/angular_controller_basics.js'></script>
	</head>
	<body data-ng-app="myApp" >
		<h1>This is My First Page and <span style="color:red">{{rootScopeVariable}}</span></h1>
		<div ng-controller="myController" ng-init="count=0" ng-mousemove="showCoordinate($event);">
			
			Coordinates in div : {{ x + ', ' + y}}

			<div class='parent'>
				<div class='left'>
					Enter Text: <input type="text" ng-model='name' placeholder="CAPITALIZE HERE">
					<span> <br/>Inline : <p ng-bind="name|uppercase"></p></span>
					From Controller: <span style='border:2px solid Black' ng-click='count=count+1'>{{myVar}}</span> : Clicked : {{count}}
				</div>
				<div class='left' style='background-color: {{colorName}}'>
					Enter Color name: <input type="text" ng-model='colorName'>
				</div>
				<div class='myOwnDirective' my-own-directive></div>
			<div class='left'>
				<strong>=>This is ng-model status classes reflection</strong><br/>
				Enter Email: <input type="email" ng-model='email'>
			</div>
			</div>
			
			<br/>
			<br/>
			Using Array:<select ng-model='mySelectedValue' ng-options="option.label for option in selectOptions track by option.id" ></select>{{mySelectedValue}}

			<br/>
			<br/>
			Using Object: 
			<select ng-model='mySelectedObject' ng-options="name for (name, surname) in selectOptionsObject track by surname"></select>

			<div class="parent">
				Enter Filter By value: <input type="text" ng-model='filterBy'> <strong>|filter:filterBy</strong>
				<br/><br/>
				<table border="1">
					<tr>
						<th >Sr no.</th>
						<th ng-click="sortByField('name')">Name</th>
						<th ng-click="sortByField('surname')">Surname</th>
						<th ng-click="sortByField('salary')">Salary</th>
					</tr>
					<tr ng-repeat="employee in employees|orderBy:sortBy|filter:filterBy">
						<td>{{$index+1}}</td>
						<td>
							{{employee.name|addTitles:'Mr. '}}
						</td>
						<td>
							{{employee.surname}}
						</td>
						<td>
							{{employee.salary|currency:'Rs: '}}
						</td>
					</tr>
				</table>
			</div>
			<my-directive></my-directive>
			<p my-directive></p>
		</div>
	</body>
</html>