<!doctype html>
<html ng-app="myApp">

	<head >
		<link rel="stylesheet" type="text/css" href="../css/note_panel.css">

	    <script type="text/javascript" src='../libraries/angular.js'></script>
	    <script type="text/javascript" src='../js/angular_module_basics.js'></script>
	    <script type="text/javascript" src='../js/angular_note_panel.js'></script>
	</head>

	<body ng-controller="myController as ctrl">
		<h1>{{ctrl.heading}}</h1>
		<div>
				
			<div class='wrapper'>
				<span> List</span><span> Bucket count = {{ctrl.bucket.length}}</span>
				<div class='item' ng-repeat="item in ctrl.bucket">{{item.name}} <span ng-click='ctrl.deleteItem(item.id)'>x</span></div>
				<div ng-hide='ctrl.bucket.length'>Empty Bucket</div>
				<form name='myForm'>
					<div class='footer'><input type="text" ng-model='ctrl.item_name'><button ng-click="ctrl.addItem()">Add</button></div>
				</form>
			</div>

		</div>
	</body>

</html>
